.header__image {
  /* max-width: 720px;
  max-height: 226px; */
}

/* @media screen and (max-width: 1190px) {
  .header__image {
    min-width: 600px;
    min-height: 186px;
  }
}

@media screen and (max-width: 975px) {
  .header__image {
    width: 620px;
    height: 192px;
  }
} */