.header__links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 15px 15px 0;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 475px) {
  .header__links {
    margin: 13px 13px 0;
  }
}