.form__button {
  width: 100%;
  min-height: 60px;
  font-size: 16px;
  line-height: 1.25;
  border: 2px solid black;
  border-radius: 30px;
  padding: 18px 25px 18px;
  background-color: transparent;
}

.form__button-error {
  text-align: center;
  color: red;
  margin-top: 20px;
}