.song__text {
  font-size: 18px;
  line-height: 1.2;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  flex-shrink: 0;
  opacity: 0;
	display: none;
  transition: opacity 0.66s;
  visibility: collapse;
}
