.visible {
  opacity: 1;
  display: block;
  transition: all 0.66s;
  max-height: 130px;
  padding: 10px 0 0px 60px;
}

@media screen and (max-width: 475px) {
	.visible {
		padding: 10px 40px 0 50px;
		text-overflow: ellipsis;
}
