@import url(./__progress/song__progress.css);
@import url(./__text/song__text.css);
@import url(./__time/song__time.css);
@import url(./__title/song__title.css);

.song {
  width: 100%;
  color: white;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 0;
  white-space: nowrap;
  overflow: ellipsis;
}
