.form__input {
  padding: 17px 22px 17px;
  width: 100%;
  min-height: 27px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 18px;
  line-height: 1.2;
}

.form__input::placeholder {
  color: black;
}