.form__input {
  padding: 19px 0 19px;
  width: 100%;
  min-height: 27px;
  border: 0;
  box-sizing: border-box;
  border-bottom:  2px solid black;
  font-size: 16px;
  line-height: 1.25;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.form__input_error {
  border-bottom:  2px solid red;
  color: red;
  margin-bottom: 6px;
}

.form__item-error {
  color: red;
}
