.button__text {
  line-height: 1.2;
  border-radius: 30px;
  flex-shrink: 0;
  opacity: 0;
  color: white;
  transition: opacity 0.66s;
  background: transparent;
  margin: 0 10px 8px 10px;
  display: none;
  width: fit-content;
  padding: 6px 18px 6px;
}
