.song__title {
  white-space: nowrap;
	overflow: hidden;
  padding: 0 10px 0 0;
  text-overflow: ellipsis;
	color: #fff;
	font-size: 20px;
  line-height: 2;
  font-weight: 400;
	width: 100%;
	display: flex;
}

.song__title:hover {
	font-style: italic;
	cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .song__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 475px) {
	.song__title {
		font-size: 14px;
    line-height: 1.36;
	}
}

@keyframes song {
  100% {
    transform: translateX(-100%);
  }
}
