.toggle-btn {
  background: url('./../../images/open.svg') no-repeat 0 9px;
  width: 26px;
  cursor: pointer;
  height: auto;
  transition: all 0.33s;
	padding: 0 0px 0 0px;
	flex-shrink: 0;
}

.toggle-btn:hover {
  transform: scale(1.15);
}
