.close-btn {
  background: url('./../../images/close_filled.svg') no-repeat 0 9px;
  transition: all 0.66s;
  transform: rotate(180deg);
}

.close-btn:hover {
  background: url('./../../images/close_filled.svg') no-repeat 0 9px;
  transition: all 0.66s;
}
