.header__title {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  /* min-width: 720px;
  min-height: 226px; */
}

@media screen and (max-width: 1190px) {
  .header__title {
    /* min-width: 600px;
    min-height: 186px; */
  }
}

/* @media screen and (max-width: 975px) {
  .header__title {
    width: 620px;
    height: 192px;
  }
}

@media screen and (max-width: 635px) {
  .header__title {
    width: 450px;
  }
}

@media screen and (max-width: 475px) {
  .header__title {
    width: 270px;
    height: 82px;
  }
} */
