.header__title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 226px;
}

@media screen and (max-width: 1190px) {
  .header__title {
    width: 600px;
    height: 186px;
  }
}

@media screen and (max-width: 975px) {
  .header__title {
    width: 620px;
    height: 192px;
  }
}

@media screen and (max-width: 635px) {
  .header__title {
    width: 470px;
  }
}

@media screen and (max-width: 475px) {
  .header__title {
    width: 270px;
    height: 82px;
  }
}